@model YoutubeMovie.CMS.Models.ViewModel.Video
@using YoutubeMovie.CMS.Models


<table class="table-dark">
    <thead>
        <tr class="table-dark">
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr class="table-dark">
            <td class="table-dark">
                @Model.Name
            </td>
        </tr>
    </tbody>
</table>
